@model PagedList.IPagedList<WebBanDienThoai.Models.Order>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" />

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Quản lý đơn hàng</h2>
<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
    <!-- Topbar Search -->
    <form action="/admin/orders/Index" method="get" class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
        <div class="input-group border">
            <input id="searchString" value="@ViewBag.SearchString" name="searchString" type="text" class="form-control bg-light border-0 small" placeholder="Nhập địa chỉ cần tìm ..."
                   aria-label="Search" aria-describedby="basic-addon2">
            <div class="input-group-append">
                <button class="btn btn-primary" type="submit">
                    <i class="fas fa-search fa-sm"></i>
                </button>
            </div>
        </div>
    </form>
</nav>
<table class="table">
    <tr>
        <th>
            ID
        </th>
        <th>
            Người nhận
        </th>
        <th>
            Trạng thái
        </th>
        <th>
            Địa chỉ người nhận
        </th>
        <th>
            Ngày tạo
        </th>
        <th>
            Ngày sửa
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.ReceivedAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdateAt)
            </td>

            <td>
                @Html.ActionLink("Sửa", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Xem chi tiết", "Detail", new { id = item.ID }) |
                @Html.ActionLink("Xoá", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>
<br />
Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))

