@model List<WebBanDienThoai.Models.CartItem>

@{ 
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content">
    <div class="content-top">
        <div class="clear"></div>
    </div>
    <div class="section group">
        @if (Model.Count > 0)
        {
            <table class="table-striped">
                <thead>
                    <tr>
                        <td>Mã SP</td>
                        <td>Tên SP</td>
                        <td>Ảnh</td>
                        <td>Số lượng</td>
                        <td>Đơn giá</td>
                        <td>Thành tiền</td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.product.ID</td>
                            <td>@item.product.Name</td>
                            <td><img src="@item.product.Image" width="100" /></td>
                            <td><input type="text" class="Quantity" value="@item.Quantity" /></td>
                            <td>@item.product.Price.GetValueOrDefault(0).ToString("N0")</td>
                            <td>@((item.product.Price.GetValueOrDefault(0) * item.Quantity).ToString("N0"))</td>
                        </tr>

                    }
                </tbody>
            </table>
        }
        else
        {
            <span class="alert alert-danger">Chưa có sản phẩm nào trong giỏ hàng!</span>
        }
    </div>
</div>


